body{
    text-align: center;
}
.button-container{
    display: flex;
    justify-content: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 50%;
    margin: 10px;
   
    padding: 20px;
    
    
}
.red{
    background-color: red;
}

.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: rgb(33, 171, 33);
}